<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/blog.css' />
  <style>

  </style>
</head>
<body>
<div id="blogTitle">
  <div id="logo"><span>博客</span></div>
  <div id="newEssay">
    <div id="button">写文章✚</div>
  </div>
  <div id="chosenGroup">
    <select>
      <option>All</option>
    </select>
  </div>
</div>
<div id="blogList">
  <% blogs.forEach(function(blog){ %>
    <div class="blogItem" onclick="openDetail(this, '<%=blog.id%>')">
      <div class="blogTitle"><%=blog.title%></div>
      <div class="extraMsg"><%=blog.createDate%> / <%=blog.groupName%></div>
      <div class="contentAb"><%=blog.content%></div>
    </div>
  <% }) %>
</div>

<script src="/javascripts/jquery-1.7.1.js"></script>
<script src="/javascripts/popMask.js"></script>
<script>
  // 结束loading动画
  load.endLoading();

  function openDetail(obj, essayId)
  {

  }

</script>
</body>
</html>
